In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
from requests import get
import pandas as pd
import numpy as np

headers = ({'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit\
        /537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'})

base_url =   "https://www.mahindrafirstchoice.com/used-cars/delhi"
response = get(base_url, headers=headers)
html_soup = BeautifulSoup(response.text, 'html.parser')
print(response)

<Response [200]>

In [2]:
# To store care details each as lists
year=[]
make=[]
model=[]
price=[]
location=[]
kilometer=[]
fuel=[]
body_type=[]
owner=[]

In [3]:
# To get details: year, make, and model
h3_tags = html_soup('h3')

for tag in h3_tags:

    if tag.attrs=={'class': ['buyer_make']}:
        _year=(tag.contents[0].split())[0]
        _name=(tag.contents[0].split())[1]
        year.append(_year)
        make.append(_name)

    if tag.attrs=={'class': ['buyer_variant']}:
        _model=(tag.contents[0].strip().split())[0]
        model.append(_model)
print(year)
print(make)
print(model)

['2020', '2019', '2019', '2019', '2019', '2013', '2013', '2013', '2014', '2013', '2019', '2018', '2015', '2013', '2010']
['Renault', 'Renault', 'Renault', 'Tata', 'Maruti', 'Renault', 'Renault', 'Renault', 'Nissan', 'Renault', 'Tata', 'Hyundai', 'Ford', 'Honda', 'Hyundai']
['Kwid', 'Kwid', 'Kwid', 'Tiago', 'S', 'Duster', 'Duster', 'Duster', 'Terrano', 'Duster', 'Tiago', 'Grand', 'Ecosport', 'Brio', 'I20']

In [4]:
# To obtain details: price, location, kilometer, fuel, body type, and owner
span_tags = html_soup('span')
km_pd_body_owner=[]

for tag in span_tags: 

    if tag.attrs=={'class': ['car_price']}:
        if len(tag.contents)==1:
            price.append('NaN')
        else:
            _price=tag.contents
            price.append(_price)

    if tag.attrs=={'class': ['buyer_locations', 'icon_set', 'stock_location', 'b']}:
        location.append(tag.contents[0])

    if tag.attrs=={'class': ['overview_name']}:
        km_pd_body_owner.append(tag.contents[0].strip())

print(price)

[[<span class="icon_set car_price_icon"></span>, '5.85 Lakhs'], [<span class="icon_set car_price_icon"></span>, '4.5 Lakhs'], [<span class="icon_set car_price_icon"></span>, '8.6 Lakhs'], [<span class="icon_set car_price_icon"></span>, '5.25 Lakhs'], [<span class="icon_set car_price_icon"></span>, '8.95 Lakhs'], [<span class="icon_set car_price_icon"></span>, '2.45 Lakhs'], [<span class="icon_set car_price_icon"></span>, '3.65 Lakhs'], [<span class="icon_set car_price_icon"></span>, '7 Lakhs'], [<span class="icon_set car_price_icon"></span>, '4.9 Lakhs'], [<span class="icon_set car_price_icon"></span>, '3.65 Lakhs'], [<span class="icon_set car_price_icon"></span>, '3.65 Lakhs'], [<span class="icon_set car_price_icon"></span>, '5.65 Lakhs'], [<span class="icon_set car_price_icon"></span>, '4.5 Lakhs'], [<span class="icon_set car_price_icon"></span>, '3.25 Lakhs'], [<span class="icon_set car_price_icon"></span>, '3.95 Lakhs'], [<span class="icon_set car_price_icon"></span>, '4.25 Lakhs'], [<span class="icon_set car_price_icon"></span>, '4.5 Lakhs'], [<span class="icon_set car_price_icon"></span>, '4.5 Lakhs'], 'NaN', [<span class="icon_set car_price_icon"></span>, '5.25 Lakhs'], [<span class="icon_set car_price_icon"></span>, '6.45 Lakhs'], [<span class="icon_set car_price_icon"></span>, '2.92 Lakhs'], [<span class="icon_set car_price_icon"></span>, '2.55 Lakhs']]

In [5]:
# To split cumulative data into kilometer, fuel, body_type, and owner
cumulative_km_pd_body_owner=np. reshape(km_pd_body_owner, (len(km_pd_body_owner)//4, 4))

kilometer=cumulative_km_pd_body_owner.T[0]
fuel=cumulative_km_pd_body_owner.T[1]
body_type=cumulative_km_pd_body_owner.T[2]
owner=cumulative_km_pd_body_owner.T[3]

print(kilometer)
print(fuel)
print(body_type)
print(owner)

['19,000 Kms' '14,214 Kms' '14,214 Kms' '9,109 Kms' '20,200 Kms'
 '93,000 Kms' '66,612 Kms' '90,923 Kms' '67,841 Kms' '80,000 Kms'
 '10,000 Kms' '16,592 Kms' '70,293 Kms' '43,000 Kms' '75,236 Kms']
['Petrol' 'Petrol' 'Petrol' 'Petrol' 'Petrol' 'Diesel' 'Diesel' 'Diesel'
 'Diesel' 'Diesel' 'Petrol' 'Petrol' 'Petrol' 'Petrol' 'Petrol']
['Hatchback' 'Hatchback' 'Hatchback' 'Hatchback' 'Hatchback' 'SUV' 'SUV'
 'SUV' 'SUV' 'SUV' 'Hatchback' 'Hatchback' 'SUV' 'Hatchback' 'Hatchback']
['1st Owner' '1st Owner' '1st Owner' '1st Owner' '1st Owner' '1st Owner'
 '1st Owner' '1st Owner' '1st Owner' '1st Owner' '1st Owner' '1st Owner'
 '1st Owner' '2nd Owner' '1st Owner']

In [6]:
# To build Data Frame, and save as car_data.xls
car_data = pd.DataFrame({"Year" : year, "Make/Name" : make, "Model" : model, "Location" : location, "Mileage/Kilometers" : kilometer, "Fuel (Diesel/Petrol)" : fuel, "Body Type" : body_type, "Owner": owner})[["Year", "Make/Name", "Model", "Location", "Mileage/Kilometers", "Fuel (Diesel/Petrol)", "Body Type", "Owner"]]
car_data.drop_duplicates().to_excel('car_data.xls')

In [7]:
car_data.head()

   Year Make/Name  Model  ... Fuel (Diesel/Petrol)  Body Type      Owner
0  2020   Renault   Kwid  ...               Petrol  Hatchback  1st Owner
1  2019   Renault   Kwid  ...               Petrol  Hatchback  1st Owner
2  2019   Renault   Kwid  ...               Petrol  Hatchback  1st Owner
3  2019      Tata  Tiago  ...               Petrol  Hatchback  1st Owner
4  2019    Maruti      S  ...               Petrol  Hatchback  1st Owner

[5 rows x 8 columns]